$buttons: (
	primary: (
		base: $brand-primary,
		text: $brand-white,
		border: $brand-primary
	),
	light: (
		base: $brand-white,
		text: $text-color,
		border: $brand-white,
		hover: $brand-primary-200
	)
);

@mixin createBemStylingForButtons($buttons) {
	@each $buttonName, $buttonValue in $buttons {
		.btn-datepicker.btn-#{$buttonName} {
			background-color: map-get($buttonValue, "base");
			color: map-get($buttonValue, "text");
			border: 1px solid map-get($buttonValue, "base");

			&[disabled="disabled"] {
				color: lighten(map-get($buttonValue, "text"), 30%);
				background-color: lighten(map-get($buttonValue, "base"), 30%);
				border: lighten(map-get($buttonValue, "base"), 30%);
			}

			&:not([disabled="disabled"]):hover {
				background-color: #{if(
						map-get($buttonValue, "hover"),
						map-get($buttonValue, "hover"),
						darken(map-get($buttonValue, "base"), 20%)
					)};
				transition: background-color ease-in 0.3s;
				cursor: pointer;
			}
		}

		.btn-datepicker.btn-#{$buttonName}.btn-bordered {
			background-color: map-get($buttonValue, "text");
			color: map-get($buttonValue, "base");
			border: 2px solid map-get($buttonValue, "border");
		}
	}
}

.btn.btn-datepicker {
	border-radius: $border-radius;
	padding: 0.375rem 0.75rem;
	line-height: $line-height;

	> * {
		pointer-events: none;
	}

	&[disabled="disabled"] {
		cursor: auto;
	}
}

@include createBemStylingForButtons($buttons);
