// Brands
$brand-primary: #39f;
$brand-primary-200: #e5f2ff;
$brand-info: #0090ef;
$brand-success: #00b348;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-disabled: #d8d8d8;
$brand-white: #fff;
$brand-dark: #424242;
$brand-gray: #fafafa;

// dark colors
$dark-primary: #424242;
$dark-secondary: #6c757d;

// breakpoints
$breakpoints: (
	xl: 1200px,
	lg: 992px,
	md: 768px,
	sm: 576px,
	xs: 480px,
	xxs: 360px
);

// typography
$font-family-sans-serif: "Roboto-Regular", "Arial", sans-serif;
$text-color: #424242;
$text-disabled: #ccc;
$line-height: 1.5;

$fontSize: (
	"px": 14,
	"rem": 1
);

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$border-radius: 0.25rem;
