.datepicker-popover {
	position: absolute;
	display: inline-block;
	max-width: 500px;
	left: 10%;
}

.datepicker-popover__popup {
	position: relative;
	display: block;
	background: $brand-white;
	border: 1px solid rgba(166, 168, 179, 0.2);
	color: $text-color;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
	z-index: 2;
	border-top-color: $brand-primary;

	&::before {
		border: 5px solid transparent;
		content: " ";
		display: block;
		height: 0;
		position: absolute;
		width: 0;
		border-top: 0;
		left: 10px;
		top: -5px;
		border-bottom-color: $brand-primary;
	}
}
