.datepicker-calendar.datepicker--date {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;

	.calendar-nav {
	}
}

.datepicker-calendar.datepicker--date .calendar-nav {
	display: flex;
	justify-content: space-between;

	.calendar-nav__prev,
	.calendar-nav__next {
		width: 30px;
	}
}

.calendar-week-list,
.calendar-date-list {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		text-align: center;
		background-color: $brand-white;
		cursor: pointer;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

.calendar-week-list {
	.calendar-week-list__item {
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.calendar-date-list {
	.calendar-date-list__item {
		height: 30px;
		display: flex;

		> .btn-datepicker {
			text-align: center;
			padding: 0;
			width: 100%;
		}
	}
}
