.datepicker-container {
	border: 1px dashed $input-border-color;
	margin: 10px auto;
	min-height: 160px;
	position: relative;
	padding: 10px;
	z-index: 0;

	&::before {
		color: $text-disabled;
		content: "Container for inline datepicker";
		left: 50%;
		line-height: 20px;
		margin-left: -82px;
		margin-top: -10px;
		@include fontSize(0.75);
		position: absolute;
		top: 50%;
		z-index: -1;
	}
}
