.datepicker-wrapper {
	display: block;
	position: relative;
	font-family: $font-family-sans-serif;
	width: 100%;
	@include fontSize(1);
}

.datepicker-example .input-group {
	display: flex;
	justify-content: space-between;

	> * {
		z-index: 1;
		border-color: transparent;
	}

	.input-group-append {
		> .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-color: $input-border-color;
			border-left-color: transparent;
		}
	}
}

.datepicker-calendar .calendar-nav {
	display: flex;
	justify-content: space-between;

	.calendar-nav__prev,
	.calendar-nav__next,
	.calendar-nav__current {
		background-color: $brand-white;
		cursor: pointer;
		float: left;
		height: 30px;
		width: 30px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		> .btn {
			height: 100%;
			width: 100%;
		}
	}

	.calendar-nav__current {
		width: 150px;
	}
}
